.products {
  margin-top: 42px;
  padding: 0 22px;
}

.products-title {
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  font-weight: 500;
}

.products-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}

.carousel-card.inactive {
  display: none;
}

.carousel_arrow,
.carousel-card {
  cursor: pointer;
}

.carousel-card {
  max-width: 266px;
  filter: drop-shadow(0px 21px 88px rgba(126, 118, 118, 0.2));
}

.carousel-card_img {
  max-width: inherit;
}

@media screen and (min-width: 768px) {
  .products {
    margin-top: 130px;
    padding: 0 120px;
  }

  .products-carousel {
    margin-top: 70px;
  }

  .products-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    text-align: center;
  }

  .carousel-card {
    max-width: 100%;
  }

  .carousel-card.inactive {
    display: block;
    filter: none;
  }
}

@media screen and (min-width: 1279px) {
  .products {
    margin-top: 130px;
    padding: 0 238px;
  }
}
