.discover-section {
  display: flex;
  padding: 158px 0 0 170px;
}

.discover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.discover-heading {
  font-size: 96px;
  font-weight: 400;
}

.discover-buttons {
  display: flex;
  gap: 80px;
  margin-top: 108px;
}

.discover-text {
  font-size: 24px;
  margin-top: 108px;
}

.discover-img {
  background-image: url("/src/assets/images/music-titles.png");
  width: 512px;
  height: 512px;
  margin-left: 122px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
