/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../components/header/style.css");
@import url("../components/hero/style.css");
@import url("../components/products/style.css");
@import url("../components/specification/style.css");
@import url("../components/shop/style.css");
@import url("../components/additional/style.css");
@import url("../components/subscribe/style.css");
@import url("../components/footer/style.css");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
  --color-pink: pink;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
}

body {
  width: 100%;
}

.app {
  min-width: 390px;
  margin: 0 auto;
}

.container {
  padding: 0 16px;
}

h1,
h2,
h3,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .app {
    max-width: 1620px;
  }
  .container {
    padding: 0 80px;
  }
}

@media screen and (min-width: 1279px) {
  .container {
    padding: 0 240px;
  }
}
