.shop {
  margin-top: 120px;
  padding: 0 24px;
}

.shop_title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  color: #180202;
}

.shop_descr {
  margin-top: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #180202;
  line-height: 150%;
  opacity: 0.7;
}

.shop-cards {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.shop-card {
  width: 286px;
  height: 286px;
  background-color: #e6f1ff;
  border-radius: 30px;
}

.shop-card.inactive {
  display: none;
}

.shop-card::before {
  position: relative;
  content: "";
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  background-color: #e6f1ff;
  background-image: url('/src/assets/icons/shopping-cart.svg');
  background-repeat: no-repeat;
  background-position: center;
  bottom: 24px;
  left: 82%;
}

.card-red,
.card-red::before {
  background-color: #ffe6ee;
}

.card-green,
.card-green::before {
  background-color: #e6fffb;
}

.product_img {
  position: relative;
  width: 75%;
  bottom: 40%;
  left: 24px;
}

.rating_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 50px;
}

.rating_stars {
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.rating_star {
  width: 27px;
  cursor: pointer;
}

.rating_number {
  color: #180202;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.card_info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 46px;
}

.card_title {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
}

.card_price {
  color: #180202;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
}

@media screen and (min-width: 768px) {
  .shop {
    margin-top: 130px;
  }

  .shop_title {
    font-size: 44px;
    line-height: 58px;
  }

  .shop_descr {
    margin: 0 auto;
    width: 560px;
    margin-top: 26px;
  }

  .shop-cards {
    gap: 14px;
    margin-top: 94px;
  }

  .shop-card.inactive {
    display: block;
  }
  .rating_wrapper {
    bottom: 0px;
    margin-top: 10px;
  }
  .card_info {
    bottom: 0px;
    margin-top: 16px;
  }

  .product_img {
    bottom: 20%;
  }
  .card-red > .rating_wrapper {
    margin-top: -2px;
  }
}

@media screen and (min-width: 1000px) {
  .shop-cards {
    gap: 64px;
  }

  .product_img {
    bottom: 40%;
  }
}
