html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #302b3a;
  background: white;
}

html,
body,
.hero-section-wrapper {
  height: 100%;
}
.hero-section-wrapper {
  max-height: 100vh;
  overflow: hidden;
  padding: 0 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 24px;
}

.logo {
  max-width: 30px;
}

.logo img {
  max-width: 100%;
}

.navbar {
  display: none;
}

.start-btn {
  display: none;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17px;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 3px;
  background-color: #ada7ff;
}

.hero-section {
  text-align: left;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
}

h1 b {
  color: #ada7ff;
}

.post-heading {
  margin: 20px 0;
  color: #404040;
  font-size: 12px;
  opacity: 0.9;
}

.btns-wrapper {
  display: flex;
  margin-top: 35px;
}

.btn-adopt {
  font-size: 12px;
  padding: 10px 16px;
  color: #ffffff;
  background-color: #ada7ff;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.btn-adopt img {
  margin-left: 10px;
  max-width: 14px;
}

.btn-watch {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: #ada7ff;
  padding: 0;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 600;
}

.btn-watch img {
  max-width: 34px;
  margin-right: 10px;
}

.review-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 0;
  padding: 0;
}

.review-list li:not(:last-child) {
  margin-right: 30px;
}

.review-num {
  font-size: 30px;
  font-weight: 600;
}

.review-text {
  font-size: 12px;
  font-weight: 600;
  color: #686868;
  margin: 0;
}

.imgs-wrapper {
  position: relative;
  margin-top: 60px;
  height: 400px;
}

.img-dog-print {
  position: absolute;
  max-width: 37px;
}

.img-dog-bg {
  position: absolute;
  right: 0;
  max-width: 208px;
}

.img-dog {
  position: absolute;
  right: 0;
  top: 8px;
  max-width: 145px;
}

.img-cat-bg {
  position: absolute;
  left: 0;
  bottom: 10px;
  max-width: 208px;
}

.img-cat {
  position: absolute;
  left: 0;
  bottom: -28px;
  max-width: 266px;
}

.img-cat-print {
  position: absolute;
  right: 0;
  bottom: 10px;
  max-width: 37px;
}

@media (min-width: 769px) {
  .hero-section-wrapper {
    max-width: 1170px;
    margin: 0 auto;
  }

  header {
    padding: 50px 0 50px;
  }

  .logo {
    max-width: initial;
  }

  .navbar {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
  }

  .navbar li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }

  .navbar li:first-child a {
    color: #9a93ff;
  }

  .burger-menu {
    display: none;
  }

  .start-btn {
    display: block;
  }
  .start-btn button {
    padding: 16px 32px;
    background-color: #ada7ff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
  }

  .hero-section {
    text-align: left;
    padding: 150px 0 0;
    position: relative;
  }

  .content-wrapper {
    width: 60%;
  }

  h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 60px;
  }

  .post-heading {
    margin: 24px 0 0;
    font-size: 18px;
  }

  .btns-wrapper {
    gap: 10px;
    margin-top: 60px;
  }

  .btn-adopt {
    font-size: 18px;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 30px;
  }

  .btn-adopt img {
    max-width: 19px;
  }

  .btn-watch {
    margin-left: 30px;
    font-size: 18px;
  }

  .btn-watch img {
    max-width: 55px;
  }

  .review-list {
    margin: 60px 0 0;
  }

  .review-list li:not(:last-child) {
    margin-right: 65px;
  }

  .review-num {
    font-size: 44px;
  }

  .review-text {
    font-size: 18px;
  }

  .imgs-wrapper {
    margin-top: 0px;
    flex: 1 0 40%;
    width: 50%;
    height: 86%;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: -1;
  }
}

@media (min-width: 1112px) {
  .imgs-wrapper {
    width: 566px;
    height: 616px;
  }

  .imgs-wrapper img {
    max-width: 100%;
  }

  .img-cat {
    bottom: -48px;
  }
}
