.header-container {
  position: relative;
}

.header-logo {
  position: absolute;
  top: 15px;
  left: 130px;
}

.header-items {
  display: flex;
  padding-left: 43px;
}

.header-list-item {
  font-size: 32px;
  transition: 0.2s all ease;
  cursor: pointer;
  z-index: 1;
}

.header-list-item:first-child {
  font-size: 40px;
}

.header-list-item:not(:first-child) {
  margin-top: 7px;
}


.header-list-item:not(:last-child) {
  margin-right: 58px;
}

.header-list-item:hover {
  color: #5e659d;
}
