.hero {
  color: #ffffff;
  margin-top: 50px;
  padding-bottom: 36px;
}

.hero-container {
  background: linear-gradient(
    90deg,
    rgba(255, 146, 146, 1) 0%,
    rgba(222, 81, 82, 1) 100%
  );
}

.hero_content {
  padding: 0 10px;
}

.hero-img {
  width: 100%;
}

.hero_subtitle {
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 10px;
}

.hero_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 14px;
}

.hero_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.price-actual {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
}

.price-divider {
  font-size: 32px;
}

.price-old {
  font-size: 32px;
  line-height: 140%;
  text-decoration-line: line-through;
  opacity: 0.7;
  font-weight: 500;
}

.hero_buy-btn {
  margin-top: 34px;
  width: 100%;
  height: 64px;
  border-radius: 64px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
  background-color: #ffffff;
  color: #ff4948;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 64px;
    padding-bottom: 130px;
  }

  .hero_content {
    padding: 0;
  }

  .hero-img {
    max-width: 50%;
    align-self: baseline;
  }

  .hero_title {
    font-size: 60px;
  }

  .hero_price {
    justify-content: left;
  }

  .hero_price > * {
    margin-right: 30px;
  }

  .hero_buy-btn {
    width: 192px;
  }

  .hero-container {
    background: linear-gradient(
      90deg,
      rgba(255, 146, 146, 1) 0%,
      rgba(222, 81, 82, 1) 100%
    );
  }
}

@media screen and (min-width: 1279px) {
  .hero {
    gap: 95px;
  }

  .hero_title {
    font-size: 100px;
  }

  .hero-img {
    /* max-width:100%; */
  }
}
