.additional {
  margin-top: 270px;
  padding: 0 26px;
}

.additional-img {
  max-width: 100%;
}

.additional_title {
  margin-top: 4px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.additional_item {
  list-style-type: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
  max-width: 292px;
}

.additional_item::before {
  position: relative;
  content: url("/src/assets/icons/arrow-in-circle.svg");
  
  top: 4px;
  margin-right: 16px;
}

.additional_item:last-child {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .additional {
    display: flex;
    padding: 0 80px;
  }

  .additional_title {
    font-size: 44px;
    line-height: 130%;
    max-width: 390px;
  }

  .additional-img {
    max-width: 50%;
    height: fit-content;
    align-self: center;
  }
}

@media screen and (min-width: 1279px) {
  .additional {
    padding: 0 240px;
    align-items: center;
  }
  .additional-img {
    max-width: 70%;
  }
}
