.hero-section {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  padding: 262px 0 0 128px;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading{
  font-size: 110px;
  font-weight: 400;
}

.hero-description{
  font-size: 34px;
  margin: 5px 0 35px;
}

.hero-img {
  background-image: url("/src/assets/images/background-page-landing.png");
  background-size: cover;
  background-position: calc(100% + 150px) bottom;
  width: 1920px;
  height: 1080px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
