/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");
@import url("../components/header/style.css");
@import url("../components/hero/style.css");
@import url("../components/discover/style.css");
@import url("../components/signup/style.css");
@import url("../components/footer/style.css");
@import url("../components/button/style.css");
/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-white);
}

body {
  width: 100%;
}

.app {
  margin: 0 auto;
  height: 1080px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h1,
h2,
h3,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  padding: 43px 128px 22px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
