.signup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 226px 0 0 162px;
  width: fit-content;
}

.signup-form {
  padding: 48px 66px;
  background-color: #5e659d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: fit-content;
  align-items: flex-end;
  height: fit-content;
  margin-bottom: 40px
}

.signup-input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.signup-input-label {
  font-size: 32px;
  align-self: center;
}

.signup-form-input {
  width: 500px;
  height: 66px;
  border-radius: 20px;
  border: none;
}

.signup-img {
  background-image: url("/src/assets/images/background-page-sign-up.png");
  background-size: cover;
  background-position: calc(100% + 150px) bottom;
  width: 1920px;
  height: 1080px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.signup>button{
  margin: 0 auto;
}

