.product-specification {
  padding: 0 22px;
}

.specification-title {
  margin-top: 120px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
}

.specification_container {
  display: flex;
  gap: 20px;
  margin-top: 32px;
  justify-content: center;
}

.specification_icon {
  display: flex;
  align-items: center;
  width: 98px;
  height: 98px;
}

.item-specification {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.specification-item_title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
}

.specification_info {
  margin-top: 2px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

.specification_learn {
  margin-top: 6px;
  line-height: 24px;
  color: #ff4948;
  text-decoration: none;
}

.specification-photo {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 56px;
}

@media screen and (min-width: 768px) {
  .product-specification {
    display: flex;
    margin-top: 130px;
    padding: 0 120px;
  }
  .specification-title {
    max-width: 460px;
  }

  .specification_container {
    display: flex;
    gap: 20px;
    margin-top: 32px;
    justify-content: left;
  }

  .specification-title {
    font-size: 44px;
    line-height: 58px;
  }

  .specification-photo {
    width: 32%;
    max-width: 332px;
    height: fit-content;
    align-self: center;
  }
}

@media screen and (min-width: 1279px) {
  .product-specification {
    padding: 0 240px;
  }
}
