.header_items {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header_burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.burger-line {
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
}

.big-line {
  width: 40px;
}

.small-line {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 34px;
  }
  .header_items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .header_items_divider {
    font-size: 48px;
    color: #ffffff;
    opacity: 0.5;
    font-weight: 1;
  }

  .header_item {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
}
