.footer {
  margin-top: auto;
}

.footer-navigation {
  display: flex;
}

.footer-nav-item {
  font-size: 20px;
  transition: 0.2s ease all;
  cursor: pointer;
}

.footer-nav-item:hover {
  color: #5e659d;
}

.footer-nav-item:not(:last-child) {
  margin-right: 80px;
}

.footer-copyright {
  font-size: 20px;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  right: -90px;
  bottom: 180px;
}

